.hero {
  background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
  display: flex;
  margin-bottom: 50px;
}
.hero_left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-left: 140px;
  line-height: 1.1;
}
.hero_left h1 {
  color: #090909;
  font-weight: 600;
}

.hand_Icon {
  display: flex;
  align-items: center;
  gap: 20px;
}
.hand_Icon img {
  width: 100px;
}
.hero_latest_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 310px;
  height: 70px;
  margin-top: 30px;
  background: #ff4141;
  color: white;
  font-size: 22px;
  font-weight: 500;
  cursor: pointer;
}
.hero_right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.hero_right img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* media query */

@media (max-width: 1280px) {
  .hero_left {
    padding-left: 140px;
  }
  .hero h1 {
    font-size: 45px;
  }
  .hero h2 {
    font-size: 35px;
  }
  .hand_Icon img {
    width: 60px;
  }
  .hero_latest_btn {
    gap: 10px;
    width: 250px;
    height: 60px;
    margin-top: 20px;
    font-size: 18px;
  }
  .hero_right img {
    width: 400px;
  }
}

@media (max-width: 1024px) {
  .hero_left {
    padding-left: 80px;
  }
  .hand_Icon img {
    width: 40px;
  }
  .hero_latest_btn {
    width: 220px;
    height: 50px;
    font-size: 16px;
  }
  .hero_right img {
    width: 400px;
  }
}
@media (max-width: 800px) {
  .hero_left {
    padding-left: 30px;
  }
  .hero h1 {
    font-size: 20px;
  }
  .hero h2 {
    font-size: 16px;
  }
  .hand_Icon img {
    width: 30px;
  }
  .hero_latest_btn {
    width: 170px;
    height: 40px;
    font-size: 13px;
  }
  .hero_right img {
    width: 250px;
  }
}

@media (max-width: 500px) {
  .hero {
    padding-top: 30px;
  }
  .hero_right {
    display: none;
  }
  .hero_left {
    padding-left: 0;
    text-align: center;
  }
  .hand_Icon {
    justify-content: center;
  }
  .hand_Icon img {
    width: 55px;
  }
  .hero_latest_btn {
    width: 200px;
    height: 45px;
    font-size: 14px;
    margin: 0 auto;
  }
}
