.relatedProduct {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.relatedProduct h1 {
  color: #171717;
  font-size: 50px;
  font-weight: 600;
}
.relatedProduct hr {
  width: 200px;
  height: 6px;
  border-radius: 10px;
  background: #252525;
}
.relatedProduct_item {
  margin-top: 50px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .relatedProduct h1 {
    font-size: 30px;
  }
}

@media (max-width: 400px) {
  .relatedProduct h1 {
    font-size: 25px;
  }
}
